<div class="row">
    <div class="col-md-3">
        @Html.Partial("SideBarLeft")
    </div>
    <div class="col-md-9">
        @Html.Partial("Carousel")
        <div class="row">
            @Html.Partial("Shop")
        </div>
    </div>
</div>

@section Scripts{
}